@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body {
  background-image: linear-gradient(100.70deg, rgb(222, 201, 201) 16.62%, #98819e 85.61%);
}

@font-face {
  font-family: Lemon;
  src: url("LEMONMILK-Bold.otf") format('opentype');
}

#header {
  display: flex;
  border-bottom: 0.5px solid rgb(222, 201, 201);
  align-items: center;
  height: 50px;
  padding: 1.7rem;
  justify-content: space-between;
  font-size: 1.4vw;
}

#menu {
  display: flex;
  list-style: none;
  gap: 5rem;

}

ul {
  margin: 0;
  padding: 0;
}

.menu {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Lemon;
  src: url("LEMONMILK-Bold.otf") format('opentype');
}

.logoheader {
  width: 120px;
}

.content {
  margin-bottom: 48px;
  border-top: 0.2px solid gray;
}

.content-main {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-main-write {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 60px;
}

.content-main-write-title {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 45px;
  color: black;
}

.content-main-write-subtitle {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}

.content-link {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
}

.content-link2 {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.div2 {
  margin-top: 60px;
  margin-right: 60px;
}

.imagem1 {
  width: 500px;
}

.content-main2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.content-main-write2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 60px;
  align-items: center;
  margin-right: 60px;
}

.content-main-write-title2 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 45px;
  color: black;
  justify-content: center;
}

.mulheres {  
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}

.div3 {
  margin-top: 60px;
}

.imagem2 {
  width: 280px;
  margin-left: 50px;
}

.content-main3 {
  margin-top: 70px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-main-write3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 60px;
}

.content-main-write-title3 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 45px;
  color: black;
  text-align: center;
}

h2 {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}

.content-p {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-align: center;
}

.footer {
  padding: 32px;
  border-top: 0.2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p1 {
  font-size: 15px;
}

.footer-img {
  margin: 0 auto;
}