body {
    background-image: linear-gradient(100.70deg, rgb(222, 201, 201) 16.62%, #98819e 85.61%);
}



@font-face {
    font-family: Lemon;
    src: url("LEMONMILK-Bold.otf") format('opentype');
}

#header {
    display: flex;
    border-bottom: 0.5px solid rgb(222, 201, 201);
    align-items: center;
    height: 50px;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1vw;
}

#menu {
    display: flex;
    list-style: none;
    gap: 5rem;
    
}

ul{
    margin: 0;
    padding: 0;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Lemon;
    src: url("LEMONMILK-Bold.otf") format('opentype');
}

.logoheader {

    max-width: 8%;
}

.imgLOL {
        
    max-width: 30%;
    padding-top: 5%;
    position: absolute;
    top: auto;
    left: 70%;
}

.imgLOL2 { 
    max-width: 30%;
    padding-top: 50%;
    position: absolute;
    top: auto;
    left: 0%; 
    justify-items: baseline;
}



.titulo1 {
    position: absolute;
    top: auto;
    left: 11%;
    font-family: Lemon;
    font-size: 2vw;
    height: 20px;
    padding-top: 2%;
    color: rgb(73, 102, 100);
    
}

.titulo2{
    position: absolute;
    top: auto;
    left: 80%;
    font-family: Lemon;
    font-size: 2vw;
    width: 80%;
    height: 20px;
    padding-top: 50%;
    color: rgb(73, 102, 100);
    
}

.divTexto{ 
    
    width: 800px;
    height: 100px;
    position: absolute;
    top: 34%;
    left: 11%;
    display:block;
    align-items: center;
    text-align: initial;
    margin-left: 4px;
    font-size: 5vw;
    
}


p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: auto;
    font-size:1.5vw;
    padding-top: 2%;
    
} 

.mulheres{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    padding-top: 70%;
    left: 85%;
    height: 10px;
    width:80% ;
    font-size:1.5vw;
}
