@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, white 16.62%, gray 85.61%);
}

.header {
  align-items: center;
  padding: 24px;
}

.div1 {
  float: right;
  padding-top: 55px;
  padding-right: 30px;
}

.header-img {
  width: 170px;
  padding-top: 5px;
  padding-left: 30px;
}

.header-menu {
  display: flex;
  gap: 70px;
}

.header-menu-item {
  font-family: 'Sarala', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 20px
}

.content {
  margin-bottom: 48px;
  border-top: 0.2px solid gray;
}

.content-main {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-main-write {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 60px;
}

.content-main-write-title {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: black;
}

.content-main-write-subtitle {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.content-main-write-button {
  background-color: gray;
  width: 170px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.content-main-write-button:hover {
  background-color: darkgray;
}

.div2 {
  margin-top: 60px;
}

.content-img {
  height: 430px;
}

.content-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 10px;
}

.content-side-title {
  border-top: 0.2px solid white;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color:white;
  margin-bottom: 16px;
}

.content-side-item {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
}

.footer {
    padding: 32px;
    border-top: 0.2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

p {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p1 {
  font-size: 15px;
}

.footer-img {
  margin: 0 auto;
}